<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
    <meta http-equiv='content-type' content='application/xhtml+xml; charset=ISO-8859-1'/>
    <meta http-equiv='content-script-type' content='text/javascript'/>
    <meta name='Publisher' content='Westdeutscher Rundfunk'/>
    <meta name='Keywords' content='sport.ARD.de online, Nachrichten, News, Berichte, Live-Ticker, Audios, Videos, Bildergalerien, Sport, Fußball, Bundesliga, 2. Bundesliga, Regionalliga, DFB-Pokal, Nationalmannschaft, U21, Champions League, UEFA-Cup, International, Frauenfußball, Formel 1, Wintersport, Ski Alpin, Skispringen, Biathlon, Langlauf, Nordische Kombination, Bob, Rodeln, Eisschnelllauf, DTM, Radsport, Basketball, Handball, Eishockey, Leichtathletik, Tennis, Boxen, Mehr Sport, Ergebnisse, Tabellen, Sportschau, Sport im Fernsehen, Sport in den Dritten'/>
    <meta name='Description' content='sport.ARD.de ist das Sport-Angebot der ARD im Internet und gehört zum Internetportal der ARD. Das Angebot berichtet in Text, Bild, Audio, Video sowie im Live-Ticker über alle wichtigen Sportereignisse und bündelt Nachrichten aus den Fernseh- und Hörfunkprogrammen der ARD'/>
    <meta name='googlebot' content='noarchive'/>
    <meta name='robots' content='index,follow'/>
    <title>Ticker - Seite nicht vorhanden</title>
    <style type="text/css"><!-- /* <![CDATA[ */
        @import 'css/fbticker.css';
    /* ]]> */ --></style>
    <script type="text/javascript"><!-- /* <![CDATA[ */
      var autoReload = 0;
    /* ]]> */ -->
    </script>
  <script type="text/javascript" src="../ticker_layoutdata/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="../ticker_layoutdata/ticker.js"></script>
</head>
<body><!--googleoff: index-->
<!-- Skiplinks -->
<p class="inv">
    <a href="#tableau">Übersicht über die aktuellen Begegnungen</a>.<br />

    <a href="#ticker">Zum Tickertext</a>.<br />
    <a href="#navi">Zur Navigation</a>.</p>
<p class="tableau inv"><a name="tableau" id="tableau"></a></p>

<div id="tickerSmall">
<div class="header small">
<a href="//www.sportschau.de"><img src="pics/pixel.gif" alt="Link zur Sportschau-Startseite" width="160" height="40"  title="Link zur Sportschau-Startseite"/></a>
</div>

<div id="tickerSlim" style="color: #fff !important; font-size: 0.7em;background: #11274a;width: 32em;">
<p>Liebe Nutzer,</p>
<p>leider können wir Ihnen die gewünschte Seite nicht mehr anbieten. Der neue Rundfunkstaatsvertrag (1.6.2009) untersagt uns eine Reihe von Inhalten im Internet und legt uns Beschränkungen auf. In einer sogenannten Negativliste als Anlage zum Rundfunkstaatsvertrag sind konkrete Verbote festgelegt. Im Gesetzestext werden weitere Einschränkungen gemacht, die bestimmte Inhalte problematisieren. Außerdem kann es sein, dass für bestimmte Inhalte nur zeitlich begrenzte Nutzungsrechte vorliegen, so dass diese Inhalte nach einer gewissen Zeit nicht mehr erreichbar sind.</p>
<p>Bitte haben Sie Verständnis dafür, dass wir im Rahmen einer Fehlerseite nicht konkret auf den jeweils zutreffenden Grund für die Löschung des von Ihnen gesuchten Inhaltes eingehen können. Wenn Sie es genauer wissen wollen, schreiben Sie uns bitte eine Mail an <a href="mailto:sport@ard.de" style="color: #fff !important;text-decoration: underline;">sport@ard.de</a>.</p>
<p>Weitere Informationen zum 12. Rundfunkänderungsstaatsvertrag finden sie hier.</p>
<p>Den Gesetzestext und die Begründung des 12. Rundfunkänderungsstaatsvertrags können Sie hier nachlese (die Negativliste finden Sie am Ende des Gesetzestextes ab S. 58.):</p>
<p><a href="http://www.ard.de/download/138948/index.pdf"  style="color: #fff !important;text-decoration: underline;">Zwölfter Rundfunkänderungsstaatsvertrag (PDF)</a></p>
<p><a href="http://www.ard.de/download/138950/index.pdf"  style="color: #fff !important;text-decoration: underline;">Zwölfter Rundfunkänderungsstaatsvertrag - Begründung (PDF)</a></p>
<p>Wir bedauern es sehr, Ihnen die gewünschten Inhalte nicht mehr zur Verfügung stellen zu dürfen. Für Ihr Interesse an unserem Internet-Angebot bedanken wir uns herzlich und hoffen, dass Sie uns als Nutzer weiterhin treu bleiben.</p>

<!--googleon: index-->
<script type='text/javascript'>
 <!-- // <![CDATA[

	var IVW="http://ardsport.ivwbox.de/cgi-bin/ivw/CP/;/sp/komponente/hilfe/allgemein/loeschung_fehler.jsp";
	document.write("<img src=\""+IVW+"?r="+escape(document.referrer)+"\" width=\"1\" height=\"1\" border=\"0\" alt=\"\" \/>");
// ]]>  -->
     <!-- // <![CDATA[
		var IVW="http://gsea.ivwbox.de/cgi-bin/ivw/CP/0114_04;p=http%3A%2F%2Fsport.ard.de%2Fsp%2Fkomponente%2Fhilfe%2Fallgemein%2Floeschung_fehler.jsp";
	document.write("<img src=\""+IVW+"?r="+escape(document.referrer)+"&amp;k=50&amp;d="+(Math.random()*100000)+"\" width=\"1\" height=\"1\" border=\"0\" alt=\"\" \/>");
// ]]>  -->
    </script>
    <noscript>
     <div class='inv'><img width='1' height='1' alt='' src='http://ardsport.ivwbox.de/cgi-bin/ivw/CP/;/sp/komponente/hilfe/allgemein/loeschung_fehler.jsp'/></div>
     <div class='inv'><img width='1' height='1' alt='' src='http://gsea.ivwbox.de/cgi-bin/ivw/CP/0114_04;p=http%3A%2F%2Fsport.ard.de%2Fsp%2Fkomponente%2Fhilfe%2Fallgemein%2Floeschung_fehler.jsp&amp;k=50'/></div>
    </noscript>



</div><!-- ende tickerSlim-->
</div><!-- ende tickerSmall-->
<!--googleoff: index-->
</body>
</html>
